$spotify-green: #1DB954;
$spotify-darkgreen: #1b9144;
$spotify-greenShadow: #1db95452;
$spotify-blackVeryLight: #313131;
$spotify-blackLight: #212121;
$spotify-blackStrong: #121212;
$spotify-recent: #4b2525;
$spotify-current: #344fb4;
$spotify-playlist: #213d24;
$spotify-tracks: #42411f;
$white: #fff;
$grey: #a7a7a7;
$hover-grey: rgba(167, 167, 167, 0.2);
$shadowLight: rgba(0, 0, 0, 0.3);
$shadowStrong: rgba(0, 0, 0, 0.5);

$black-gradient: linear-gradient(0deg, $spotify-blackStrong, $spotify-blackLight);